<h1> List of Movies </h1>

<h3>Search Movies</h3>
<%= form_tag(movies_search_path, :method => "get") do %>
    <%= search_field_tag :query, params[:query], placeholder: "Search" %>
    <%= button_tag "Submit", :name => nil %>
<% end%>
<br>
<br>

<h3>Movie List</h3>

<table>
    <thead>
        <tr>
            <th> Title: </th>
            <th> Release date: </th>
            <th> Poster: </th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @movies.each do |movie| %>
            <tr>
                <td><%= link_to movie.title, movie_path(movie) %></td>
                <td><%= movie.release_date %></td>
                <td><img src="<%="https://image.tmdb.org/t/p/w200#{movie.poster}"%>"></td>
            </tr>
        <% end %> 
    </tbody>
</table>