<h1> User: <%= @user.name %> </h1>

<p>Name: <%= @user.name %></p>
<p>Username: <%= @user.username %></p>
<br>
<h3>Favorites:</h3>
    <% @user.reviews.each do |review| %>
        <% if review.favorite %>
            <p><%= link_to review.movie.title, movie_path(review.movie) %></p>
        <% end %>
    <% end %>

<br><br><br>

<h3>Reviews: </h3>
<table>
    <thead>
        <tr>
            <th> Movie: </th>
            <th> Content: </th>
            <th> Rating: </th>
            <th colspan="3"></th>
        </tr>
    </thead>
    
    <tbody>
        <% @user.reviews.each do |review| %>
            <tr>
                <td><%= link_to review.movie.title, movie_path(review.movie) %></td>
                <td><%= review.content %></td>
                <td><%= review.rating %></td>
            </tr>
        <% end %>
    </tbody>
</table>


