<h1> User: <%= @user.name %> </h1>

<p>Name: <%= @user.name %></p>
<p>Username: <%= @user.username %></p>
<p>Followers: <%=link_to @user.followers.length, followers_list_path %></p>
<p>Followed: <%=link_to @user.followees.length, followees_list_path %></p>

<% if @current_user == @user %>
    <h4><%= "#{@current_user.username}'s page" %></h4>
<% elsif @current_user.followees.include?(@user) %>
    <h4><%= button_to "Unfollow #{@user.username}", unfollow_user_path, method: 'post' %></h4>
<% else %>
    <h4><%= button_to "Follow #{@user.username}", follow_user_path, method: "post" %></h4>
<% end %>


<br>
<h3>Favorites:</h3>
    <% @user.reviews.each do |review| %>
        <% if review.favorite %>
            <p><%= link_to review.movie.title, movie_path(review.movie) %></p>
        <% end %>
    <% end %>

<br><br><br>

<h3>Reviews: </h3>
<table>
    <thead>
        <tr>
            <th> Movie: </th>
            <th> Content: </th>
            <th> Rating: </th>
            <th colspan="3"></th>
        </tr>
    </thead>
    
    <tbody>
        <% @user.reviews.each do |review| %>
            <tr>
                <td><%= link_to review.movie.title, movie_path(review.movie) %></td>
                <td><%= review.content %></td>
                <td><%= review.rating %></td>
                <td><%= button_to "Edit", edit_review_path(review), method: 'get' %></td>
                <td><%= button_to "Delete", review_path(review), data: {:confirm => "Are you sure?"}, method: 'delete' %></td>
            </tr>
        <% end %>
    </tbody>
</table>

