<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="nav_bar">
  
    <ul>
      <li class='left'><%= link_to 'User Home', users_path %></li>
      <li class='left'><%= link_to 'Movies', movies_path %></li>
      <li class='left'><%= link_to 'New Review', new_review_path %></li>
      <% if @current_user %>
        <li class='left'><%= link_to "Welcome #{@current_user.name}!", user_path(@current_user) %></li>
        <li class='left'><%= link_to "Log-out", logout_path, method: :delete %></li>
     <% else %>
        <li class='left'><%= link_to 'Sign-up', new_user_path %></li>
        <li class='left'><%= link_to 'Login', new_session_path %></li>
      <% end %>
      <div id="nav_bar_search">
        <li><%= form_tag(movies_search_path, :method => "get") do %>
          <%= search_field_tag :query, params[:query], placeholder: "Search Movies" %>
          <%= button_tag "Submit", :name => nil %>
      <% end%></li>
    </div>
    </ul>
  
</div>

  <%= yield %>
</html>
